@import "../../base.scss";

.card {
  margin-bottom: 1rem;
  .bgGray {
    background-color: $gray;
  }
}

.defaultLink {
  color: $dark;
  text-decoration: none;
  &:active {
    color: inherit;
  }
}
.text {
  letter-spacing: 1px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}