$dark: #323035;
$black: #1d1c1f;
$white: #cbd1d4;
$gray: #c0c5c7;

.padding {
  padding: 1rem 0;
}

.Layout {
  height: calc(100vh - 64px);
  width: 100vw;
}

.darkTheme {
  background-color: $dark;
  color: $white;
}